<header
  class="navbar justify-between px-6 border-b border-b-black absolute top-0 left-0 w-full z-50"
>
  <div>
    <a href="/" class="text-2xl font-bold">DonateLife</a>
  </div>
  <div><a href="/" class="btn btn-ghost">Home</a></div>
  <div class="space-x-4">
    <div>
      <% if(isAuthenticated){ %>
      <a href="/logout" class="btn btn-outline btn-sm">Logout</a>
      <%} else {%>
      <a href="/login" class="btn btn-outline btn-sm">Login</a>
      <%}%>
    </div>
  </div>
</header>
