<header class="navbar justify-between bg-red-600 text-white px-6">
  <div>
    <span class="text-2xl font-bold">DonateLife</span>
  </div>
  <div><a href="/" class="btn btn-ghost text-white">Home</a></div>
  <div class="space-x-4">
    <a href="/logout" class="btn btn-outline btn-sm">Logout</a>
  </div>
</header>
