<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>

    <title>Login | DonateLife</title>
  </head>
<body
    class="bg-red-100 flex items-center justify-start min-h-screen"
    style="
      background-image: url('/pics/login.png');
      background-size: cover;
      background-position: center;
    "
  >
<h1>Forgot Password</h1>

<form action="/forgot-password" method="POST">
  <label for="email">Enter your email:</label>
  <input type="email" name="email" id="email" required />

  <button type="submit">Send Reset Link</button>
</form>
<div>
  <% if (error) { %>
  <p style="color:red;"><%= error %></p>
<% } %>

<% if (sent) { %>
  <p style="color:green;">If this email exists, a reset link has been sent.</p>
<% } %>

</div>

</body>
</html>