<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs'); %>

    <title>Welcome - DonateLife</title>
  </head>
  <body class="bg-red-100 min-h-screen flex flex-col">
    <%- include('./partials/navbar.ejs'); %>

    <main>
      <div class="grid grid-cols-1 md:grid-cols-4 gap-6 p-10">
        <% bloodTypes.forEach(type => { %>
        <div class="card bg-white shadow-md border-2 border-red-200">
          <div class="card-body text-center">
            <h2 class="text-3xl font-bold text-red-600"><%= type %></h2>
            <a
              href="/recipient/request/<%= type %>"
              class="btn btn-error mt-4 text-white"
              >Send Request</a
            >
          </div>
        </div>
        <% }) %>
      </div>
    </main>
  </body>
</html>
